/* CSS for Responsive Grid Layout */

.grid-container {
	display:grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  background-color: lightgray;
  height: 150px;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
