/* Add this CSS code to your stylesheet */

.grid-container {
  display: grid;
	grid-template-columns:repeat(9,1fr);
  gap: 10px 10px;
}

.grid-item {
  background-color: lightgray;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Additional CSS for responsiveness */
@media (max-width: 400px) {
  .grid-container {
	grid-template-columns:repeat(4,1fr);
	  
  }
}

@media (max-width: 576px)and(min-width:400px) {
  .grid-container {
	grid-template-columns:repeat(6,1fr);
	  
  }
}

@media (max-width: 900px)and (min-width:701px) {
  .grid-container {
	grid-template-columns:repeat(7,1fr);
	  
  }
}
@media (max-width: 1020px) {
  .grid-container {
	grid-template-columns:repeat(8,1fr);
	  
  }
}
@media (min-width: 501px)and (max-width:699px) {
  .grid-container {
	grid-template-columns:repeat(6,1fr);
	  
  }
}
